//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    form(method="POST" action="/index/search")
        .field
            .label ID
            .control
                input.input(type="number" placeholder="ID" name="intID")
    br
    ul
        a(class = 'button' href = '/index') return to list